.review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background: var(--clr-light);
  padding: 1rem 2rem 1rem 5.5rem;

  border-radius: 1rem;
}

.review-page .review-card {
  width: 100%;
  background: none !important;
}

main .review-card {
  width: clamp(40%, 30em, 60%);
  box-shadow: 0px 0px 20px 1px var(--clr-accent);

  background-color: rgba(0, 0, 0, 0.166);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
}

.review-card .rating {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 5.5ch;
  aspect-ratio: 1;

  display: grid;
  place-content: center;
  text-align: center;
  font-size: var(--fs-600);

  background: var(--clr-primary);
  color: var(--clr-light);
  border: 1px solid var(--clr-light);
  border-radius: 5px;

  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.review-card .rating small {
  text-transform: uppercase;
  font-size: var(--fs-200);
  letter-spacing: var(--letter-spacing-s);
  color: var(--clr-light);
}

.review-card h2 {
  font-weight: 600;
  font-size: var(--fs-600);
  letter-spacing: var(--letter-spacing-s);
}

.review-card h3 {
  font-size: var(--fs-500);
  margin-top: 1rem;
  color: var(--clr-primary);
}

.review-card p {
  padding-block: 0.8rem;
}

.review-card a {
  align-self: flex-end;
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;

  color: var(--clr-light);
  background: var(--clr-primary);

  border: none;
  border-radius: 0.5rem;
}

.review-card a:hover,
.review-card a:focus-visible {
  color: var(--clr-dark);
  background: var(--clr-light);
  outline: 1px solid var(--clr-dark);
}

@media (max-width: 40rem) {
  .review-card .rating {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 6ch;
    aspect-ratio: 1;
  }

  main .review-card {
    width: 100%;
  }
}
