.review-card {
  position: relative;
  isolation: isolate;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 1.5rem;

  border-radius: 1rem;
}

/************************/
/** REVIEWS ON HOMPAGE **/
/************************/

main .review-card {
  width: clamp(40%, 30em, 60%);
  box-shadow: 2px 2px 15px 1px var(--clr-accent);

  background-color: rgba(0, 0, 0, 0.12);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
}

main .review-card .review-header-fade {
  position: absolute;
  inset: 0;
  z-index: -1;

  border-radius: inherit;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.446953781512605) 40%,
    rgba(0, 0, 0, 0) 100%
  );
}

main .review-card .rating {
  position: absolute;
  right: 1.5rem;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: var(--fs-600);

  color: var(--clr-light);
}

main .review-card small {
  text-transform: uppercase;
  font-size: var(--fs-200);
  letter-spacing: var(--letter-spacing-s);
  color: var(--clr-light);
}

main .review-card h2 {
  color: var(--clr-light);
  font-weight: 600;
  font-size: var(--fs-600);
  letter-spacing: var(--letter-spacing-s);
}

main .review-card h3 {
  display: none;
  font-size: var(--fs-400);
  margin-top: 1rem;

  color: var(--clr-light);
}

main .review-card p {
  display: none;
}

.review-card a {
  align-self: flex-end;
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;

  color: var(--clr-light);
  background: var(--clr-primary);

  border: none;
  border-radius: 0.5rem;
}

.review-card a:hover,
.review-card a:focus-visible {
  color: var(--clr-dark);
  background: var(--clr-light);
  outline: 1px solid var(--clr-dark);
}

/***********************/
/** REVIEW PAGE STYLE **/
/***********************/

.review-page .review-card {
  width: 100%;
  background: none !important;
}

@media (max-width: 40rem) {
  main .review-card {
    width: 100%;
  }
}
