.review-card {
  position: relative;
  isolation: isolate;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 1.5rem;

  border-radius: 1rem;
}

/************************/
/** REVIEWS ON HOMPAGE **/
/************************/

main .review-card {
  width: min(90vw, 400px);
  box-shadow: 2px 2px 15px 1px var(--clr-accent);

  background-color: rgba(0, 0, 0, 0.12);
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
}

main .review-card .review-header-fade {
  position: absolute;
  inset: 0;
  z-index: -1;

  border-radius: inherit;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.446953781512605) 40%,
    rgba(0, 0, 0, 0.25) 100%
  );
}

main .review-card .card__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main .review-card h2 {
  font-weight: 600;
  font-size: var(--fs-600);
  letter-spacing: var(--letter-spacing-s);
  text-wrap: wrap;
  color: var(--clr-light);
}

main .review-card small {
  text-transform: uppercase;
  font-size: var(--fs-200);
  letter-spacing: var(--letter-spacing-s);
  color: var(--clr-light);
}

main .review-card .rating {
  font-weight: 600;

  font-size: var(--fs-600);

  color: var(--clr-light);
}

main .review-card h3 {
  display: none;
  font-size: var(--fs-400);
  margin-top: 1rem;

  color: var(--clr-light);
}

main .review-card p {
  display: none;
}

main .review-card .card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2.5rem;
}

.review-card .card__bottom small {
  font-size: var(--fs-300);
}

.review-card a {
  font-weight: 500;
  text-transform: uppercase;

  align-self: flex-end;
  padding: 0.5rem 1rem;

  color: var(--clr-primary);
  background: var(--clr-light);

  border: none;
  border-radius: 0.5rem;
}

.review-card a:hover,
.review-card a:focus-visible {
  color: var(--clr-light);
  background: var(--clr-primary);
}

/***********************/
/** REVIEW PAGE STYLE **/
/***********************/

.review-page .review-card {
  width: 100%;
  background: none !important;
}

@media (max-width: 40rem) {
  main .review-card {
    width: 100%;
  }
}
