.filter {
  display: flex;
  gap: 0.25rem;
}

.filter button {
  text-transform: uppercase;

  color: var(--clr-primary);
  background-color: var(--clr-light);

  padding: 0.5rem 1rem;

  border: none;
  border-radius: 0 0 10px 10px;

  box-shadow: 0 2px 5px 1px var(--clr-accent);
}

.filter button.active,
.filter button.active:focus-visible {
  color: var(--clr-light);
  background-color: var(--clr-primary);
}
