header {
  padding: 1rem;
  border-bottom: 1px solid var(--clr-accent);
}

header h1 {
  font-size: var(--fs-600);
  color: var(--clr-primary);
}

header nav.hidden .filter {
  display: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem 1rem; */
}

header nav a.active,
header nav .filter a:hover,
header nav .filter a:focus-visible {
  color: var(--clr-primary);
  background: var(--clr-light);
}

header nav a.active {
  transform: translateY(0);
  border-radius: 0.5rem 0.5rem 0 0;
}
