header {
  margin-bottom: 4rem;
  border-bottom: 2px solid var(--clr-primary);
}

header h1 {
  font-size: var(--fs-500);
}

header nav.hidden .filter {
  display: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header nav span {
  color: var(--clr-accent);
}

header nav .filter {
  display: flex;
  gap: 0.5rem;
}

header nav a {
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5rem 1rem;

  color: var(--clr-accent);
  background: var(--clr-primary);

  border: 1px solid var(--clr-primary);
  border-radius: 0.5rem 0.5rem 0 0;

  transition: background 0.2s ease-in-out;
}

header nav a.active,
header nav .filter a:hover,
header nav .filter a:focus-visible {
  color: var(--clr-primary);
  background: var(--clr-accent);
}
